<p><a name="nav-menu" id="nav-menu"></a></p>

<ul>
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}">
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
      </a>
    </li>
    {{ end }}
    <!--    <li id="blinking-cursor"></li> -->
</ul>

<!-- TODO: maybe add back this blinking cursor after removing under construction effect 
<script>
  (function() {
    const cursorElement = document.getElementById('blinking-cursor');
    const blinkInterval = 500; // Time in milliseconds, 500ms = 0.5s

    if (!cursorElement) {
      console.error('Element with id "blinking-cursor" not found');
      return;
    }

    function toggleVisibility() {
      cursorElement.style.visibility = cursorElement.style.visibility === 'hidden' ? 'visible' : 'hidden';
    }

    setInterval(toggleVisibility, blinkInterval);
  })();
</script>
-->

<script>
    (function() {
        const progressBar = document.querySelector(".progress-bar");

        function animateProgressBar() {
            const progressStates = [
                "[>-----] 20%",
                "[=>----] 40%",
                "[===>--] 60%",
                "[====>-] 80%"
            ];
            let progressIndex = 0;

            const progressInterval = setInterval(() => {
                progressBar.textContent = progressStates[progressIndex];
                progressIndex++;
                if (progressIndex === progressStates.length) {
                    clearInterval(progressInterval);
                    blinkCursor();
                }
            }, 800);
        }

        function blinkCursor() {
            const blinkingState = "[====>-] 80%";
            const hiddenState = "[====->] 80%";
            let showCursor = false;

            setInterval(() => {
                progressBar.textContent = showCursor ? blinkingState : hiddenState;
                showCursor = !showCursor;
            }, 800);
        }

        animateProgressBar();
    })()
</script>


<!-- <p><a href="#">Back to top</a></p> -->
