{{ define "main" }}
  <h1 class="title">{{ .Site.Title }}</h1>
  <h6><em>compiling...</em><span class="progress-bar">[------------]  0%</span></h6>
  <div class="hidden-div">
    <h6 class="subtitle">
      {{ .Site.Params.byline }} <br></br>
      see my writing @ <a href={{ .Site.Params.link }}>{{ .Site.Params.linkText }}</a>
      <br></br> learn who i am @ <a href={{ .Site.Params.aboutMeLink }}>dupe.codes/about-me</a>
      <br></br> see the code @ <a href={{ .Site.Params.githubLink }}> github/dupe-codes</a>
    </h6>
    {{ .Content }}
  </div>
{{ end }}
